page-recovery-password {

  .header-icon {
    color: #fff;
  }

  .center {
    text-align: center;
  }

  .recovery-password {
    background: url('../assets/imgs/bg-login.jpg') no-repeat center center/cover transparent;
    font-family: 'Roboto';

    .logo {
      padding: 1.5em 3.5em 0em 3.5em;
      margin-top: 90px;

      .img {
        $valWidth: 300px;

        @include respond-to(xs) { width: $valWidth; }
        @include respond-to(sm) { width: $valWidth; }
        @include respond-to(md) { width: $valWidth; }
        @include respond-to(lg) { width: $valWidth; }
        @include respond-to(xl) { width: $valWidth; }
      }

      .img-certare {
        $valWidth: 230px;

        @include respond-to(xs) { width: $valWidth; }
        @include respond-to(sm) { width: $valWidth; }
        @include respond-to(md) { width: $valWidth; }
        @include respond-to(lg) { width: $valWidth; }
        @include respond-to(xl) { width: $valWidth; }
      }

      .img-centralize {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .grid-form {

      margin-top: 20px;

      .span-row {
        color: #fff;
        font-size: 0.9em;
      }

      .label-center {
        text-align: center;
      }

      .form-margin {
        @include respond-to(xs) {
          width: 100%;
          margin: 0px;
        }
        @include respond-to(sm) {
          width: 100%;
          margin: 0px;
        }
        @include respond-to(md) {
          width: 100%;
          margin: 0px;
        }
        @include respond-to(lg) {
          width: 450px;
        }
        @include respond-to(xl) {
          width: 450px;
        }

        .info-message {
          color: #fff;
          text-align: justify;
          margin-bottom: 30px;
          margin-left: 20px;
          margin-right: 20px;
          font-size: 12px;
        }
        
        .link-row {
          // margin: 15px !important;
          
          .info-link {
            font-size: 12px;
            text-align: center;
          }
        }

        .form {

          .mbottom {
            margin-bottom: 20px;
          }

          div {
            $bgColor: rgba(255, 255, 255, 255);
            $textColor: #666;

            ion-input {
              background-color: $bgColor !important;
              border: none !important;
              border-radius: 5px;
              padding-left: 7px;
              color: $textColor;
            }

            ::placeholder {
              color: $textColor;
            }

            ::-webkit-input-placeholder { /* WebKit browsers */
              color: $textColor;
            }

            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: $textColor;
            }

            ::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: $textColor;
            }

            :-ms-input-placeholder { /* Internet Explorer 10+ */
              color: $textColor;
            }
          }

          .error-message {
            margin: auto;
            color: #ff4b4b;
          }
        }

        .btn {
          border: none !important;
          border-radius: 5px;
          background: #007AFF;
          height: 40px;
          font-weight: 700;
          text-transform: none;
        }
      }

      ion-row {
        ion-label {
          font-size: 13px;
        }
        .btn-link {
          cursor: pointer;
          text-decoration: none;
          color: #fff !important;
          font-weight: bold;
          font-size: 12px;
          text-decoration: underline;
          margin-top: 30px;
        }
      }
    }
  }
}
