<ion-header no-border >
  <ion-navbar color="default">
    <ion-title text-center>
      <ion-label>Janela de Filtros</ion-label>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only  (click)="closeFilter()">
        <ion-icon class="header-icon" ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="content">
  <ion-grid>
    <ion-row col-12>

      <!-- 
      <ion-item no-lines *ngIf="hasGroup">
        <ion-label class="text-label" stacked mode="ios">Grupo</ion-label>
        <ion-select [(ngModel)]="group" (ionChange)="loadUsers(grupo)" okText="{{'btn.ok' | translate}}" cancelText="{{'btn.cancel' | translate}}">
          <ion-option *ngFor="let groupTmp of groups" value="{{groupTmp.key}}" title="{{groupTmp.name}}">{{groupTmp.name}}</ion-option>
        </ion-select>
      </ion-item>
      -->

      <ion-col>
        <div class="ion-text-right">
          <a (click)="clearFields()">Limpar Filtros</a>
        </div>
      </ion-col>

      <ion-item>
        <ion-label>Imóveis</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="imoveisAtivos" (ionChange)="changeAtivos('imoveis', $event)"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Linhas</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="linhasAtivas" (ionChange)="changeAtivos('linhas', $event)"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Estações</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="estacoesAtivas" (ionChange)="changeAtivos('estacoes', $event)"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Área Caminhável</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="areaCaminhavelAtiva" (ionChange)="changeAtivos('areaCaminhavel', $event)"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Buffer Linhas</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="bufferLinhasAtivas" (ionChange)="changeAtivos('bufferLinhas', $event)"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Buffer Estacoes</ion-label>
        <ion-checkbox color="blue" [(ngModel)]="bufferEstacoesAtivas" (ionChange)="changeAtivos('bufferEstacoes, $event')"></ion-checkbox>
      </ion-item>
      


      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios">Filtro de Imóveis</ion-label>
      </ion-item> 

      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="UF" item-content [(ngModel)]="uf" [items]="ufArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar"
          (onChange)="changeUf($event)"
          >
        </select-searchable>
      </ion-item> 
      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="Municípios" item-content [(ngModel)]="municipio" [items]="municipioArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar"
          (onChange)="changeMunicipio($event)"
          >
        </select-searchable>
      </ion-item> 
      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="Bairros" item-content [(ngModel)]="bairro" [items]="bairroArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar" 
          (onChange)="changeBairro($event)" 
          >
        </select-searchable>
      </ion-item> 

      

    
      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="Tipos de ocupações" item-content [(ngModel)]="tiposOcupacoes" [items]="tiposOcupacoesArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar" 
          (onChange)="changeTipoOcupacoes($event)" 
          >
        </select-searchable>
      </ion-item> 

      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="Tipos de setores" item-content [(ngModel)]="tiposSetores" [items]="tiposSetoresArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar" 
          (onChange)="changeTipoSetores($event)" 
          >
        </select-searchable>
      </ion-item> 

      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="Fontes" item-content [(ngModel)]="fontes" [items]="fontesArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar" 
          (onChange)="changeFontes($event)" 
          >
        </select-searchable>
      </ion-item> 

      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios"></ion-label>
        <select-searchable outline placeholder="Categorias" item-content [(ngModel)]="categorias" [items]="categoriasArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="true" [canClear]="true" clearButtonText="Limpar" searchPlaceholder="Pesquisar" 
          (onChange)="changeCategorias($event)" 
          >
        </select-searchable>
      </ion-item> 

      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios">Área do mapa</ion-label>
      </ion-item>
   
    <ion-row class="ionrowperso">
      <ion-col col-4 >
        <ion-input type='number' placeholder='Valor' [(ngModel)]="valor1"></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-select [(ngModel)]="operacao" okText='Ok' cancelText='Cancelar'>
          <ion-option value="entre">Entre</ion-option>
         
        </ion-select>
      </ion-col>
      <ion-col col-4>
        <ion-input type='number' placeholder='Valor' [(ngModel)]="valor2"></ion-input>
      </ion-col>
    </ion-row>
        
            
         
              
            
      
        
        
       
          
     

   
     


      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios">Mapa categorizado</ion-label>
        <select-searchable outline placeholder="Mapa categorizado" item-content [(ngModel)]="categorizacao" [items]="categorizacaoArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="false" [canClear]="false"  searchPlaceholder="Pesquisar" 
          (onChange)="changeCategorizacao($event)" 
          >
        </select-searchable>
      </ion-item> 

      <ion-item no-lines>
        <ion-label class="text-label" stacked mode="ios">Mapa graduado</ion-label>
        <select-searchable outline placeholder="Mapa graduado" item-content [(ngModel)]="graduacao" [items]="graduacaoArr" itemValueField="id" itemTextField="info"
          [canSearch]="true" [isMultiple]="false" [canClear]="false" searchPlaceholder="Pesquisar"
          (onChange)="changeGraduacao($event)" 
          >
        </select-searchable>
      </ion-item> 
       
     
     
    </ion-row>

    <ion-row class="btn-row" justify-content-center align-items-center>
      <ion-col align-self-center>
        <button ion-button class="btn" (click)="submit()" mode="ios">Filtrar</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
