page-image-details {

  .header-icon {
    color: #fff;
  }

  button {
    float: right;
    
    ion-icon {
      color: #2d324f;
    }
  }

  img {
      width: 100%;
      // transform: rotate(90deg)
  }

}
