page-import-csv {

    .hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: 0;
        padding: 0;
        border: 0;
    }    

    .title-rg {
        font-weight: bold;
    }

}
