page-imagens-trecho {

    .header-icon {
      color: #fff;
    }

    .text-fotos {
        font-size: 1.2em;
        text-align: center;
        color: gray;
    }

    .row-imagens {
        ion-col {
            text-align: center;
        }
    }

    .col-img {
        text-align: center;
    }
    
}
